<div id="movie-details">
    <h2>Movie information</h2>
    <div id="each-movie-details">
<h3>{{movieInfo.title}}</h3>
<p><b>Genre: </b>{{movieInfo.genre}}</p>
<p><b>Plot:</b> {{movieInfo.plot}}</p>
<p><b>Cast:</b></p>

{{#each movieInfo.cast}}
  <ul>
    <li><p>Name: {{this.name}}</p></li>
    <li><p>Occupation: {{this.occupation}}</p></li>
    <li><p>Catchphrase: {{this.catchPhrase}}</p></li>
  </ul>
{{/each}}

<form action="/movies/{{movieInfo._id}}/delete" method="POST">
            <button>Delete movie</button>
</form>

<button><a href="/movies/{{movieInfo._id}}/edit"> Update movie</a></button>
</div>
</div>